		//mixins
//text shadow
.textShadow(@xc,@xy,@blur,@shColor){
  text-shadow: @arguments;
}
//box-shadow
.boxShadow(@xs:1px,@xy:1px,@blur:1px,@shColor:#000){
  box-shadow: @arguments;
}
//transition standard
.transi(@timeTrans:0.2s){
  transition: all @timeTrans ease;
}
//border-radius
.borderRad(@rad){
  border-radius: @arguments;
}
		//custom classes
//image responsive
.imgRespon(){
  width: 100%;
  height: auto;
}
//full screen video on top
.video-full-screen {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}

//emulate table vs div
.table-div-container{
  display: table;
  .table-div-row{
    display: table-row;
  }
  .table-div-col{
    display: table-cell;
  }
}

